services:
  frontend:
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - trascendence-network

  backend:
    build:
      context: ./back
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - ./back/data:/app/data
      - ./back/src:/app/src
      - /app/node_modules
    environment:
      - NODE_ENV=development
    networks:
      - trascendence-network

networks:
  trascendence-network:
    driver: bridge